<div class="zippy">
  <div 
    class="zippy-heading"
    [class.expanded]="isExpanded"
    (click)="toggle()">
    {{ title }}
    <span class="glyphicon"
      [ngClass]="{
        'glyphicon-chevron-up': isExpanded,
        'glyphicon-chevron-down': !isExpanded
      }"
    ></span>
  </div>
  <!--Se pueden definir el estado con prop. binding-->
  <div 
      [@expandCollapse]="isExpanded ? 'expanded' : 'collapsed'"  
    class="zippy-body" >  <!-- [hidden]="!isExpanded" Solo se oculta, no llega a quitarse del DOM. Asi que necesito un custom state-->
    <ng-content></ng-content>
  </div>
</div>